/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: "Poppins", sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
    text-decoration: none;
}

/* Variables */
:root {
    --background: #fff;
    --text: #1C1C1C;
    --teal: #4cbda2;
    --text2: rgb(150, 150, 150);
    --primary-color: #3742fa;
    --white-color: #ffffff;
    --light-color: #ced6e0;
    --dark-color: #2f3542;
    --box-shadow: rgba(0, 2, 1, 0.35) 0px 20px 30px -10px;
}

/* for Anouncement */
.anouncment {
    background-color: rgb(245, 245, 245);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: .8rem;
    font-weight: 400;
    padding: 0 7%;
    color: var(--text);
    gap: 10px;
}

.anouncment a {
    color: var(--teal);
}

.anouncment.bottom {
    display: none;
}

.container {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 5%;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.466);
    backdrop-filter: blur(10px);
}

.navbar .nav-logo img {
    width: 100px;
}

.navbar .navbar-nav {
    display: flex;
    flex-direction: row;
}

.navbar .navbar-nav a {
    color: var(--text);
    display: inline-block;
    font-size: 1rem;
    text-decoration: none;
    margin: 0 1rem;
}

.navbar-search {
    position: relative;
    width: 30px;
    height: 40px;
    background: none;
    border-radius: 30px;
    transition: 0.3s;
    overflow: hidden;
}

.navbar-search.active {
    width: 300px;
    border: 1px solid var(--text);
    background-color: var(--background);
}

.navbar-search .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    font-size: 20px;
    cursor: pointer;
    color: #000;
}

.navbar-search .input {
    position: relative;
    width: 190px;
    height: 40px;
    left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-search .input input {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1em;
    padding-right: 10px;
    color: var(--text);
    font-family: "Poppins", sans-serif;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}

.navbar-extra {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar-extra .profileMenu svg.menu {
    display: none;
}

.input::placeholder {
    color: #ccc;
    opacity: 1;
    transition: opacity 0.3s ease;
}

/* Dropdown */
.nav-item a.nav-link {
    padding: 10px 0;
}

a.nav-link:hover, .nav-item:hover {
    background-color: rgb(238, 238, 238);
    border-radius: 5px;
}

.nav-item:hover .dropdown {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dropdown {
    position: absolute;
    margin-top: 0;
    background-color: #fff;
    box-shadow: 0 0 1px .5px rgba(161, 161, 161, 0.856);
    border-radius: 7px;
    display: none;
    padding: 10px;
    box-sizing: border-box;
}

.dropdown a.dropdown-item {
    display: flex;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
}

.dropdown a.dropdown-item:hover {
    background-color: #ececec;
}

.dropdown a.dropdown-item .icon i, .dropdown a.dropdown-item .icon svg {
    font-size: 20px;
}

.dropdown a.dropdown-item .dropdown-main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--teal);
}

.dropdown a.dropdown-item .dropdown-main p {
    font-size: .9rem;
    color: var(--text);
}

.dropdown a.dropdown-item .dropdown-main span {
    font-size: .8rem;
    color: gray;
}

/* Section Homepage */
section.homepage {
    margin-top: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-container {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
}

.section-container .homepage-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-container .homepage-content .main-homepageContent {
    width: 90%;
}

.section-container .homepage-content .main-homepageContent h2 {
    font-size: 1.7rem;
    text-align: left;
    font-weight: 500;
    line-height: 38.4px;
    font-family: "Quicksand", sans-serif;
}

.section-container .homepage-content .main-homepageContent p {
    font-size: 1rem;
    font-family: "Quicksand", sans-serif;
    text-align: left;
    margin-top: 15px;
}

.section-container .homepage-content .main-homepageContent button {
    margin-top: 50px;
    background-color: var(--teal);
    padding: 10px 20px;
    border: 0;
    outline: none;
    transform: translateX(2px) translateY(2px);
    box-shadow: 5px 5px 0 0 var(--text);
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: .9rem;
    cursor: pointer;
    transition: .3s;
}

.section-container .homepage-content .main-homepageContent button:hover {
    background-color: #41a18b;
    box-shadow: none;
    transform: none;
}

/* Our Partner Section */
.partner-section {
    padding: 64px 0;
}

.section-title {
    text-align: center;
    margin-bottom: 1.5rem;
}

.section-title h2 {
    font-size: 1.7rem;
    font-weight: 500;
    font-family: "Quicksand", sans-serif;
}

.logos-slider {
    overflow-x: hidden;
}

.overflow {
    display: flex;
    padding: .5rem 1rem;
    overflow: hidden;
}

.reverse {
    margin-top: -20px;
}

.reverse .logos-wraper {
    animation-direction: reverse;
}

.logos-wraper {
    display: flex;
    justify-content: space-around;
    animation: LogoLoop 60s linear infinite;
}

.logo-item {
    margin-left: 1rem;
    padding: 1rem;
    aspect-ratio: 30/9;
    display: grid;
    place-items: center;
}

.logo-item img {
    margin-inline: 2rem;
    filter: grayscale(0);
}

@keyframes LogoLoop {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

/* Section Benefit */
section.benefit {
    padding: 5% 10%;
    box-sizing: border-box;
}

section.benefit .benefit-container {
    width: 100%;
    box-sizing: border-box;
}

section.benefit .benefit-container .benefit-mainContent {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10%;
}

.benefit-headline {
    padding: 0 10%;
    box-sizing: border-box;
}

.benefit-headline h3 {
    text-align: center; 
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 38.4px;
    font-family: "Quicksand", sans-serif;
}

.benefit-headline p {
    font-size: 1rem;
    font-family: "Quicksand", sans-serif;
    text-align: center;
    margin-top: 15px;
    line-height: 1.7;
}

section.benefit .benefit-container .benefit-mainContent .accordion-benefit {
    width: 400px;
    background-color: rgb(250, 250, 250);
    padding: 30px;
    border-radius: 10px 0 0 10px;
}

.benefit-item {
    margin-top: 1rem;
    padding-bottom: 1rem;
}

.benefit-item .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.benefit-item .title h3 {
    font-size: 1.15rem;
    color: var(--text);
    font-weight: 400;
}

.benefit-item .title svg {
    transition: all .3s;
    color: var(--text2);
    transform: rotate(90deg);
}

.benefit-item.active .title svg {
    transform: rotate(-90deg);
}

.benefit-item .description {
    max-height: 0;
    transform: translateX(-50px);
    overflow: hidden;
    opacity: .5;
    filter: blur(1.5px);
    transition: all .5s;
}

.benefit-item .description p {
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    line-height: 1.7;
    font-size: .9rem;
    color: var(--text);
    box-sizing: border-box;
}

.benefit-item.active .description {
    transform: translateX(0);
    max-height: 300px;
    opacity: 1;
    filter: blur(0);
}

.accordion-img img {
    transition: opacity 0.5s ease;
    opacity: 1;
}

.accordion-img img.fade-out {
    opacity: 0;
}

.hidden-menu {
    padding: 10% 10% 5%;
    box-sizing: border-box;
    gap: 10px;
    overflow: hidden;
    transition: all .5s;
    width: 100%;
    height: 100%;
    display: flex;
    right: 0;
    transform: translateY(-200%);
    opacity: .2;
}

.hidden-menu.show {
    display: flex;
    transform: translateY(0px);
    top: 0;
    opacity: 1;
}

.hidden-menu a {
    color: var(--text);
    width: max-content;
    word-wrap: break-word;
}

.hidden-menu .about-profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hidden-menu .about-profile .profile {
    display: flex;
    gap: 5px;
    align-items: center;
}

.hidden-menu .about-profile .profile .account-information h3 {
    font-size: 1rem;
    color: var(--text);
}

.hidden-menu .about-profile .profile .account-information p {
    font-size: .7rem;
    color: var(--text2);
}

.hidden-menu .hidden-content {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hidden-menu .hidden-content .list-dropdown {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.hidden-menu .hidden-content .list-dropdown .dropdown-title {
    display: flex;
    justify-content: space-between;
}
.hidden-menu .hidden-content .list-dropdown .dropdown-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-sizing: border-box;
    overflow: hidden;
    max-height: 0;
    transition: all .5s;
}

.hidden-menu .hidden-content .list-dropdown.open .dropdown-content {
    max-height: 300px;
    word-wrap: break-word;
}

.hidden-menu .hidden-content a.learningPath {
    color: var(--text);
    font-size: 1rem;
    font-weight: 400;
}

.hidden-menu .hidden-content .list-dropdown .dropdown-title h4 {
    color: var(--text);
    font-size: 1rem;
    font-weight: 400;
}

.hidden-menu .hidden-content .list-dropdown .dropdown-content a {
    color: var(--text2);
    font-size: .9rem;
}

.hidden-menu .hidden-content .list-dropdown .dropdown-title svg {
    transform: rotate(90deg);
    transition: all .3s;
}

.hidden-menu .hidden-content .list-dropdown.open .dropdown-title svg {
    transform: rotate(-90deg);
}

section.courses {
    position: relative;
    width: 90%;
    margin: 0 auto;
    column-gap: 3rem;
    padding: 0 2%;
    box-sizing: border-box;
}

section.courses a {
    display: inline-block;
    text-transform: uppercase;
    color: #717171;
    font-weight: 500;
    background-color: #fff;
}

section.courses .headline {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section.courses .headline h3 {
    font-size: 1.7rem;
    text-align: left;
    font-weight: 500;
    line-height: 38.4px;
    font-family: "Quicksand", sans-serif;
}

section.courses .headline p {
    font-size: 1rem;
    font-family: "Quicksand", sans-serif;
    text-align: left;
    margin-top: 15px;
    line-height: 1.7;
}

section.courses .headline a {
    margin-top: 1.5rem;
    width: fit-content;
    background-color: var(--teal);
    padding: 10px 20px;
    border: 0;
    outline: none;
    transform: translateX(2px) translateY(2px);
    box-shadow: 5px 5px 0 0 var(--text);
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: .9rem;
    cursor: pointer;
    transition: .3s;
}

.swiper {
    width: 100%;
    padding-top: 3.125rem;
    margin-top: 3.5rem;
}

.swiper .swiper-wrapper .swiper-slide {
    width: 15.75rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: self-end;
    border-radius: 5px;
}

.swiper-slide h2 {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.4;
    margin-bottom: 0.625rem;
    padding: 0 0 0 1.563em;
    text-transform: uppercase;
}

.swiper-slide p {
    color: #dadada;
    font-family: "Roboto", sans-serif;
    padding: 0 1.563rem;
    line-height: 1.6;
    font-size: 0.75rem;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.swiper-slide a {
    margin: 1.25rem 1.563rem 3.438rem 1.563rem;
    padding: 0.438rem 1.875rem;
    font-size: 0.9rem;
}

.swiper-slide a:hover {
    color: #005baa;
}

.swiper-slide div {
    display: none;
    opacity: 0;
    padding-bottom: 0.625rem;
}

.swiper-slide-active div {
    display: block;
    opacity: 1;
}

.swiper-pagination {
    bottom: 1.25rem !important;
}

.swiper .swiper-pagination span {
    background-color: var(--light-color);
    transition: width .3s;
    opacity: 1;
}

.swiper .swiper-pagination .swiper-pagination-bullet-active {
    width: 26px;
    border-radius: 4px;
    background-color: var(--teal);
}

.slide-1 {
    background: linear-gradient(to top,
    #0f2027,
    #203a4300,
    #2c536400), url("../ASSETS/courses/data_analyst.jpg") no-repeat 50% 50%/cover;
}

.slide-2 {
    background: linear-gradient(to top,
    #0f2027,
    #203a4300,
    #2c536400), url("../ASSETS/courses/data_science.jpg") no-repeat 50% 50%/cover;
}

.slide-3 {
    background: linear-gradient(to top,
    #0f2027,
    #203a4300,
    #2c536400), url("../ASSETS/courses/game_developer.jpg") no-repeat 50% 50%/cover;
}

.slide-4 {
    background: linear-gradient(to top,
    #0f2027,
    #203a4300,
    #2c536400), url("../ASSETS/courses/information_system.jpg") no-repeat 50% 50%/cover;
}

.slide-5 {
    background: linear-gradient(to top,
    #0f2027,
    #203a4300,
    #2c536400), url("../ASSETS/courses/machine_learning.jpg") no-repeat 50% 50%/cover;
}

.slide-6 {
    background: linear-gradient(to top,
    #0f2027,
    #203a4300,
    #2c536400), url("../ASSETS/courses/app_daveloper.jpg") no-repeat 50% 50%/cover;
}

.slide-7 {
    background: linear-gradient(to top,
    #0f2027,
    #203a4300,
    #2c536400), url("../ASSETS/courses/artificial_intelegence.jpg") no-repeat 50% 50%/cover;
}

.slide-8 {
    background: linear-gradient(to top,
    #0f2027,
    #203a4300,
    #2c536400), url("../ASSETS/courses/computer_science.jpg") no-repeat 50% 50%/cover;
}

.slide-9 {
    background: linear-gradient(to top,
    #0f2027,
    #203a4300,
    #2c536400), url("../ASSETS/courses/cyber_security.jpg") no-repeat 50% 50%/cover;
}

.slide-10 {
    background: linear-gradient(to top,
    #0f2027,
    #203a4300,
    #2c536400), url("../ASSETS/courses/math.jpg") no-repeat 50% 50%/cover;
}

.slide-11 {
    background: linear-gradient(to top,
    #0f2027,
    #203a4300,
    #2c536400), url("../ASSETS/courses/software_engginer.jpg") no-repeat 50% 50%/cover;
}

.slide-12 {
    background: linear-gradient(to top,
    #0f2027,
    #203a4300,
    #2c536400), url("../ASSETS/courses/web_davelopment.jpg") no-repeat 50% 50%/cover;
}

@media screen and (min-width: 48rem) {
    main {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}

@media screen and (min-width: 1024px) {
    .swiper {
        width: 100%;
    }
}

.detail-course {
    margin-top: 5rem;
}

.detail-course .course-1 .cover {
    width: 100%;
    height: 30rem;
    background: linear-gradient(to top, #005baa, #00000000), url("../ASSETS/courses/data_analyst.jpg") no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detail-course .course-2 .cover {
    width: 100%;
    height: 30rem;
    background: linear-gradient(to top, #005baa, #00000000), url("../ASSETS/courses/data_science.jpg") no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detail-course .course-3 .cover {
    width: 100%;
    height: 30rem;
    background: linear-gradient(to top, #005baa, #00000000), url("../ASSETS/courses/game_developer.jpg") no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detail-course .course-4 .cover {
    width: 100%;
    height: 30rem;
    background: linear-gradient(to top, #005baa, #00000000), url("../ASSETS/courses/information_system.jpg") no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detail-course .course-5 .cover {
    width: 100%;
    height: 30rem;
    background: linear-gradient(to top, #005baa, #00000000), url("../ASSETS/courses/machine_learning.jpg") no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detail-course .course-6 .cover {
    width: 100%;
    height: 30rem;
    background: linear-gradient(to top, #005baa, #00000000), url("../ASSETS/courses/app_daveloper.jpg") no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detail-course .course-7 .cover {
    width: 100%;
    height: 30rem;
    background: linear-gradient(to top, #005baa, #00000000), url("../ASSETS/courses/artificial_intelegence.jpg") no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detail-course .course-8 .cover {
    width: 100%;
    height: 30rem;
    background: linear-gradient(to top, #005baa, #00000000), url("../ASSETS/courses/computer_science.jpg") no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detail-course .course-9 .cover {
    width: 100%;
    height: 30rem;
    background: linear-gradient(to top, #005baa, #00000000), url("../ASSETS/courses/cyber_security.jpg") no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detail-course .course-10 .cover {
    width: 100%;
    height: 30rem;
    background: linear-gradient(to top, #005baa, #00000000), url("../ASSETS/courses/math.jpg") no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detail-course .course-11 .cover {
    width: 100%;
    height: 30rem;
    background: linear-gradient(to top, #005baa, #00000000), url("../ASSETS/courses/software_engginer.jpg") no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detail-course .course-12 .cover {
    width: 100%;
    height: 30rem;
    background: linear-gradient(to top, #005baa, #00000000), url("../ASSETS/courses/web_davelopment.jpg") no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cover h3 {
    font-size: 2rem;
    color: var(--background);
    font-weight: 500;
}

.cover p {
    font-size: .9rem;
    margin-top: 1rem;
    color: var(--background);
}

.cover p span {
    background-color: var(--teal);
    padding: .2rem .6rem;
}

.detail-course .course.detailCourse-hide {
    display: none;
}

.detail-course .course.detailCourse-show {
    display: block;
}

.detail-course .course .content {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.content .content-container {
    width: 80%;
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}

.content-container .text {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.content-container .text h3, .learningPath-content h3 {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text);
}

.content-container .text p {
    color: var(--text);
    line-height: 1.5;
    font-size: .9rem;
}

.learning-path {
    width: 40%;
    padding-left: 20px;
    box-sizing: border-box;
    position: relative;
    max-height: 500px;
    overflow-y: auto;
    scrollbar-width: 1px; 
}

.learning-path::-webkit-scrollbar {
    width: 5px;
    background-color: none;
}

.learning-path::-webkit-scrollbar-thumb {
    background-color: var(--text2);
    border-radius: 10px;
}

.learning-path::-webkit-scrollbar-button {
    display: none;
}

.learningPath-content {
    padding: 0 30px;
    border-left: 2px solid #41a18b;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.learningPath-content .box {
    position: relative;
    padding: 20px;
    border: 1px solid #eaeaea;
    background-color: #fff;
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.learningPath-content .box::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    right: calc(100% + 12px);
    transform: translateX(-10px);
    top: 0;
    background-color: #11a372;
    border: 2px solid white;
}

.box span {
    color: var(--text2);
    font-size: .8rem;
    display: flex;
    align-items: center;
    gap: 5px;
}

.box span svg {
    width: 20px;
    height: 20px;
    fill: var(--text2);
}

.box h4 {
    color: var(--text);
    font-size: 1rem;
}

.box p {
    color: var(--text2);
    font-size: .77rem;
}


/* testimonial */

#page.site {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

.site .testi-container {
    max-width: 1000px;
    width: 100%;
    padding: 0 30px;
    margin: 0 auto;
    box-sizing: border-box;
}

.testi-container .head {
    text-align: center;
    margin-bottom: 60px;
}

.testi-container .head h3 {
    color: var(--text);
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 38.4px;
    font-family: "Quicksand", sans-serif;
}

.testi-container .head p {
    color: var(--text);
    font-size: 1rem;
    margin-top: -.5rem;
    font-family: "Quicksand", sans-serif;
    line-height: 1.7;
}

.testi {
    max-width: 900px;
    margin: 0 auto;
}

.testi .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding: 30px 0;
    box-sizing: border-box;
}

.testi .thumbnail {
    width: 150px;
    height: 150px;
    position: relative;
    flex-shrink: 0;
}

.testi .thumbnail img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: scale(1.5);
    transition: transform .3s;
}

.owl-item.active .thumbnail img {
    transform: scale(1);
}

.testi .thumbnail::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% + 30px);
    height: calc(100% + 10px);
    background-color: var(--teal);
    border-radius: 50%;
    z-index: -1;
    transition: all .5s;
}

.owl-item.active .thumbnail::before {
    border-radius: 33% 67% 50% 50% / 50% 14% 86% 50%;
}

.testi .aside {
    position: relative;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    box-sizing: border-box;
}

.testi .aside > p {
    color: var(--text);
    position: relative;
    font-size: .9rem;
    line-height: normal;
    margin-bottom: 30px;
    transform: translateX(-15px);
    opacity: 0;
    transition: all .5s;
}

.owl-item.active .aside > p {
    transform: translateX(0);
    opacity: 1;
}

.testi .aside > p::before,
.testi .aside > p::after {
    font-family: serif;
    font-size: 80px;
    line-height: 1;
    position: absolute;
    color: var(--light-color);
    height: 40px;
    z-index: -1;
}

.testi .aside > p::before {
    content: open-quote;
    top: -40px;
}

.testi .aside > p::after {
    content: close-quote;
    right: 0;
}

.testi .aside .name {
    position: relative;
    width: fit-content;
    line-height: 1;
}

.testi .aside .name h4 {
    font-size: 22px;
    font-weight: 800;
    color: var(--teal);
    opacity: 0;
    transform: translateX(-15px);
    transition: all .5s;
}

.owl-item.active .aside .name h4 {
    transform: translateX(0);
    opacity: 1;
}

.testi .aside .name p {
    font-size: 12px;
    text-align: right;
    transform: translateX(15px);
    opacity: 0;
    transition: all .5s;
}

.owl-item.active .aside .name p {
    transform: translateX(0);
    opacity: 1;
}

@media screen and (min-width: 768px) {
    .testi .wrapper {
        flex-direction: row;
        padding: 30px 100px;
    }
    .testi .thumbnail {
        width: 200px;
        height: 200px;
    }
    .testi :is(.swiper-button-next, .swiper-button-prev) {
        top: 50%;
    }
    .owl-prev, .owl-next {
        top: 50%;
        transform: translateY(-50%);
    }
}

.owl-prev, .owl-next {
    position: absolute;
    background-color: rgba(177, 177, 177, 0.534);
    top: 30%; 
    transform: translateY(20%);
    color: white;
    padding: 10px 15px;
    border-radius: 50%;
    z-index: 1000; 
    cursor: pointer;
    backdrop-filter: blur(100px);
    transition: all .3s;
}

:is(.owl-prev, .owl-next):hover {
    background-color: var(--teal);
}

.owl-prev {
    left: 0; 
}

.owl-next {
    right: 0; 
}

.testi .owl-dots {
    text-align: center;
    margin-top: 20px;
}

.testi .owl-dots .owl-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: var(--light-color); 
    border-radius: 50%; 
    margin: 0 5px;
    cursor: pointer;
    transition: all .3s;
}

.testi .owl-dot.active {
    background-color: var(--teal);
    width: 20px;
    border-radius: 5px;
}

/* closing */

.closing {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
}

.closing img {
    width: 400px;
}

/* footer */

footer {
    background-color: var(--text);
    padding: 2rem 10%;
    bottom: 0;
}

.footer-link {
    display: flex;
    justify-content: space-between;
}

.col {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.col a {
    color: var(--background);
    font-size: .9rem;
}

.media-icon {
    margin-top: 2rem;
    display: flex;
    width: 100%;
    justify-content: start;
    gap: 1rem;
}
